body {
  font-family: sans-serif;
  margin-left: 130px;
  margin-right: 130px;
  text-align: center;
  background-color: #262626;
}

.page{
  position: relative;
  float: right;
}

.page img{
  width: 100%;
  height: 100%;
}



/*************************************************************************************************************/
/*******************************************NAVBAR BAR********************************************************/
/*************************************************************************************************************/

.section {
  height: 100vh;
  display: flex;
  position:fixed;
}


.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #002752;
  border-radius: 50%;
  position: relative;
  left: 20%;
  z-index: 255;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: rgba(255, 250, 250, 0.93);
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}

.menu-btn_active span:before {
  transform: rotate(-35deg);
  width: 10px;
  transform-origin: left bottom;
}
.menu-btn_active span:after {
  transform: rotate(35deg);
  width: 10px;
  transform-origin: left top;
}
.menu-block {
  position: relative;
  display: flex;
  justify-content: center;
  top: 40px;
}

.menu-nav a {
  text-decoration: none;
  color: #2c2c2c;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 60px;
  transition: 1s;
  z-index: 255;
}
.menu-nav {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
  height: 50px;
  line-height: 50px;
  background-color: rgba(255, 250, 250, 0.93);
  padding-right: 25px;
  margin-right: -25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
  left: 15%;
}
.menu-nav_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
  background-color: rgba(230, 230, 250, 0.35);
}


/*****************************************************************************************************/
/**********************LAYOUT OF THE ELEMENTS OF THE PAGE*********************************************/
/*****************************************************************************************************/

/**********************HEADER*************************/
header,section,article,aside{
  border-top: 1px solid black;
  border-radius: 15px;
  padding-top: 8%;
  background-color: rgba(255, 250, 250, 0.93);
  margin-top: 10px;
}

h1{
  color: #002752;
}


footer{
  border-top: 1px solid black;
  border-radius: 15px;
  background-color: rgba(255, 250, 250, 0.93);
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-top: 10px;
}

.flag img{
  position: relative;
  top:70%;
  right: 90%;
}

.smallText{
  position: relative;
  right: 19px;
}

header div{
  margin: 3px;
}

header{
  height: 670px;
  padding-top: 10%;
  padding-right: 10px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "welcomeText presentation"
    "bespoke bespoke";
}

.welcomeText{
  grid-area: welcomeText;
  position: relative;
  padding: 10% 5% 10% 5%;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  background-color: rgba(181, 181, 221, 0.35);
}


.presentation{
  grid-area: presentation;
  position: relative;
  padding: 15% 5% 10% 5%;
  border-radius: 10px;
  background-color: rgba(181, 181, 221, 0.35);
}

.bespoke{
  grid-area: bespoke;
  height: 30px;
  padding-top: 5%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: rgba(181, 181, 221, 0.35);
}

.bespoke h2{
  position: relative;
  bottom: 30px;
  color: rgba(0, 17, 39, 1);
}

.cursor {
  display: inline-block;
  height: 40px;
  width: 2px;
  background: #002752;
  vertical-align: middle;
  animation: 1s blink linear infinite;
}
@keyframes blink {
  0%,49% {
    opacity: 0;
  }
  50%,100% {
    opacity: 1;
  }
}



/**************************ABOUT ME***********************/

.infoImg img{
  border-radius: 50%;
}

.infoImg img:nth-child(1){
  border: 1px solid rgba(38, 38, 38, 0.39);
}

.infoImg{
  padding-top: 5px;
  padding-right: 10%;
  padding-left: 10%;
  border-radius: 10px;
  background-color: rgba(0, 0, 254, 0.41);
  border: 3px solid rgba(255, 250, 250, 0.93);
  margin-right: 20px;
}

.aboutMe{
  list-style-type: none;
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "title title title"
    "image text text";
}

.titleAboutMe{
  grid-area: title;
}

.infoText{
  grid-area: text;
  text-align: left;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgba(181, 181, 221, 0.35);
}

.infoImg{
  grid-area: image;
}


/*Style for the bars*/
.bar{
  background: #262626;
  display: block;
  height: 6px;
  border: 1px solid black;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: 0 0 10px #002752;
}

/*Color of the loading level*/
.bar span{
  height: 6px;
  float: left;
  background: #a71d2a;
}

/*Level of the "creativity" bar*/
.creativity{
  width: 100%;
  animation: creativity 4s;
}

/*Level of the "communication" bar*/
.communication{
  width: 100%;
  animation: communication 4s;
}

/*Level of the "organisation" bar*/
.organisation{
  width: 100%;
  animation: organisation 4s;
}

/*Level of the "management" bar*/
.management{
  width: 100%;
  animation: management 4s;
}

/*Animation of "creativity" bar*/
@keyframes creativity{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

/*Animation of "communication" bar*/
@keyframes communication{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

/*Animation of "organisation" bar*/
@keyframes organisation{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

/*Animation of "management" bar*/
@keyframes management{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

/***********************SKILLS*************************/

/*Style for the text that appears when the mouse hovers over the logos*/


/*The position of all the logos in relation to the page*/
ol
{
  position: relative;
  left: 13%;
  padding-left: 50px;
  display: flex;
}

/*The position of the logos in relation to themselves*/
ol li
{
  list-style: none;
  margin: 5px 70px 150px 0;
}

/*Style for the symbols*/
ol li a .fab
{
  font-size: 55px;
  color: #262626;
  line-height: 70px;
  transform: .5s;
}

ol li a .fas
{
  font-size: 55px;
  color: #262626;
  line-height: 70px;
  transform: .5s;
}

/*Style for the main side of the logo,where the symbol is placed*/
ol li a
{
  position: relative;
  display: block;
  width: 80px;
  height: 70px;
  text-align: center;
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px RGBa(0,0,0,.5);
}

/*The long and visible side of the logo*/
ol li a:before
{
  content:'';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #E6E6FA;
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

/*The short and visible side of the logo*/
ol li a:after
{
  content:'';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 21px;
  width: 100%;
  background: #E6E6FA;
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

/*The logos become white when we hover him*/
ol li:hover .fab
{
  color: #FFF;
}

/*Once the logos goes up, a shadow is created at the bottom*/
ol li a:hover
{
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
  box-shadow: -50px 50px 50px RGBa(0,0,0,.7);
}

/*Initial statement of the HTML logo*/
ol li:nth-child(2) a
{
  background: #FFF;
}

/*When we hover the HTML logo*/
ol li:nth-child(2) a:hover
{
  background: rgba(255, 69, 0, 0.86);
}

ol li:nth-child(2) a:hover::before
{
  background: rgba(255, 69, 0, 0.74);
}

ol li:nth-child(2) a:hover::after
{
  background: rgba(255, 69, 0, 0.74);
}

/*********************************************/

/*Initial statement of the CSS logo*/
ol li:nth-child(3) a
{
  background: #FFF;
}

/*When we hover the CSS logo*/
ol li:nth-child(3) a:hover
{
  background: rgba(70, 130, 180, 0.82);
}

ol li:nth-child(3) a:hover::before
{
  background: rgba(70, 130, 180, 0.7);
}

ol li:nth-child(3) a:hover::after
{
  background: rgba(70, 130, 180, 0.7);
}
/*********************************************/

/*Initial statement of the JS logo*/
ol li:nth-child(1) a
{
  background: #FFF;
}

/*When we hover the JS logo*/
ol li:nth-child(1) a:hover
{
  background: yellow;
}

ol li:nth-child(1) a:hover::before
{
  background: yellow;
}

ol li:nth-child(1) a:hover::after
{
  background: yellow;
}

/*The symbol of JS stay black when we hover him*/
ol li:hover #js{
  color: #232323;
}
/*********************************************/

/*Initial statement of the JS logo*/
ol li:nth-child(1) a
{
  background: #FFF;
}

/*When we hover the JS logo*/
ol li:nth-child(1) a:hover
{
  background: yellow;
}

ol li:nth-child(1) a:hover::before
{
  background: yellow;
}

ol li:nth-child(1) a:hover::after
{
  background: yellow;
}

/*The symbol of JS stay black when we hover him*/
ol li:hover #js{
  color: #232323;
}


/*********************************************/

/*Initial statement of the python logo*/
ol li:nth-child(4) a
{
  background: #FFF;
}

/*When we hover the python logo*/
ol li:nth-child(4) a:hover
{
  background: rgba(0, 0, 131, 0.81);
}

ol li:nth-child(4) a:hover::before
{
  background: rgba(0, 0, 131, 0.81);
}

ol li:nth-child(4) a:hover::after
{
  background: rgba(0, 0, 131, 0.81);
}

/*The symbol of python become yellow when we hover him*/
ol li:hover #python{
  color: rgb(245, 245, 0);
}

/*********************************************/

/*Initial statement of the JAVA logo*/
ol li:nth-child(5) a
{
  background: #FFF;
}

/*When we hover the JAVA logo*/
ol li:nth-child(5) a:hover
{
  background: #d9d5c1;
}

ol li:nth-child(5) a:hover::before
{
  background: #d9d5c1;
}

ol li:nth-child(5) a:hover::after
{
  background: #d9d5c1;
}

/*The symbol of JAVA become blue when we hover him*/
ol li:hover #java{
  color: navy;
}

/*********************************************/

/*Initial statement of the SQL logo*/
ol li:nth-child(6) a
{
  background: #FFF;
}

/*When we hover the SQL DB logo*/
ol li:nth-child(6) a:hover
{
  background: rgba(255, 165, 0, 0.33);
}

ol li:nth-child(6) a:hover::before
{
  background: rgba(255, 165, 0, 0.33);
}

ol li:nth-child(6) a:hover::after
{
  background: rgba(255, 165, 0, 0.33);
}

/*The symbol of SQL become blue when we hover him*/
ol li:hover #sql{
  color: rgba(0, 0, 199, 0.82);
}

/*********************************************************/



/*************************PROJECTS************************/

#projectsPart a {
  position: relative;
  z-index: 255;
  text-decoration: none;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border-radius: 15px;
  background-color: rgba(181, 181, 221, 0.35);
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: crimson;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: navy;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/*********************EDUCATION***************************/
.education{
  height: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*Position between the text and the clickable picture*/
#rudn, #codeCrew {
  position: relative;
  right: 40%;
  margin-top: 10%;
}

/*The left margin of the picture inside the section*/
.rightText{
  width: 26%;
  float: left;
  margin-left: 15%;
  margin-bottom: 10%;
}

/*Position of the text in the section*/
.rightText p{
  position: relative;
  left: 5%;
}


/*************************************************************/


/***************************CONTACT***************************/
/*.contact{*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 1fr;*/
/*  grid-template-areas:*/
/*    "contactField contactLinks";*/
/*}*/

/*.contactField{*/
/*  grid-area: contactField;*/
/*}*/

/*.contactLinks{*/
/*  grid-area: contactLinks;*/
/*}*/

.contact li{
  list-style-type: none;
}
